@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

*:not(i) {
    font-family: "Open Sans", sans-serif !important;;
}

.fw-medium {
    font-weight: 500 !important;
}
.fw-semibold {
    font-weight: 600 !important;
}
.fw-extrabold {
    font-weight: 800 !important;
}
.text-cursive {
    font-family: "Sacramento", cursive !important;
}
html {
    scroll-padding-top: 58px;
}
body {
    padding-top: 58px;
}
section {
    padding-top: 58px;
    padding-bottom: 58px;
}

.navbar-brand {
    border: solid var(--accent-4) 3px;
    padding-right: 0.65em;
    padding-left: 0.65em;
}

#Home {
    background-image: url("img/home-background.avif");
    /* https://images.unsplash.com/photo-1504454449875-92cfa39e1315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80 */
    background-size: cover;
    background-position: center bottom;
    height: 70vh;
    min-height: 400px;
}
#Home .btn {
    border: solid 2px transparent;
}
#Home .btn:hover {
    background-color: transparent !important;
    border: solid 2px var(--accent-4);
    color: var(--accent-4) !important;
}

.skills-circle {
    width: 15px; 
    height: 15px; 
}

/* https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80
https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2762&q=80
https://images.unsplash.com/photo-1519222970733-f546218fa6d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80https://images.unsplash.com/photo-1592495981488-073153776d9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3012&q=80
https://images.unsplash.com/photo-1592495981488-073153776d9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3012&q=80
https://images.unsplash.com/photo-1534240724593-cfacb25cf6ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2789&q=80
https://images.unsplash.com/photo-1526049997133-25caee4c5796?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2934&q=80 */